{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}

<div class="post-create-wrapper">
    <h1>Post! ✅</h1>
    <h2>Create the post.</h2>
    {{ form(form) }}
</div>
{% endblock %}
