{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}

<div class="post-show-wrapper">
    <h1>Post! ✅</h1>
    <h2>Details of the post.</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <td>ID</td>
                <td>Title</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ post.id }}</td>
                <td>
                    <a href="{{ path('post.show', { id: post.id }) }}"> {{ post.title }} </a>
                </td>
                <td>
                    <a class="text-danger"
                       href="{{ path('post.remove', { id: post.id }) }}"
                    > Delete </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
