{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}

<div class="post-show-wrapper">
    <h1>Post Details! ✅</h1>
    <hr/>

    <h3>{{ post.id }}</h3>
    <h2>{{ post.title }}</h2>
    <img src="{{ '/uploads/' ~ post.image }}" alt="Post Image" />
</div>
{% endblock %}
